<h3>Tournaments</h3>

<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button (click)="openNew()" class="p-button-success p-mr-2" icon="pi pi-plus" label="New" pButton pRipple></button>
  </ng-template>
</p-toolbar>

<p-table (onLazyLoad)="onLazyLoad($event)"
         (onRowSelect)="selectTournament()"
         *ngIf="visible"
         [(selection)]="tournament"
         [lazy]="true"
         [loading]="loading"
         [paginator]="true"
         [rows]="5"
         [totalRecords]="totalRecords"
         [value]="tournaments"
         responsiveLayout="scroll"
         selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Players</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template let-tournament pTemplate="body">
    <tr [pSelectableRow]="tournament">
      <td>{{tournament.name}}</td>
      <td>{{tournament.nbPlayers}}</td>
      <td>
        <button (click)="deleteTournament(tournament)" class="p-button-rounded p-button-danger" icon="pi pi-trash"
                pButton
                pRipple></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <p>No tournament in the database</p>
  </ng-template>
</p-table>

<p-dialog [(visible)]="tournamentDialog" [modal]="true" [style]="{width: '450px'}" header="Tournament Details"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="mb-2">Name</div>
      <input [(ngModel)]="tournament.name" autofocus id="name" pInputText required type="text"/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton pRipple></button>
    <button (click)="createTournament()" class="p-button-text" icon="pi pi-check" label="Save" pButton
            pRipple></button>
  </ng-template>
</p-dialog>
